* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fija {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.cabecera {
  width: 100%;
  height: 120px;
  background-color: #20b2aa;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  width: 10%;
  height: 100%;
  background-image: url(./img/logo_vidanatura_adaptado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40%;
}

.titulo {
  width: 80%;
  height: 100%;
  padding-top: 3%;
  padding-right: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(14, 14, 139);
}

.seccRegistro {
  margin: 0;
  padding: 0;
  width: 100%vw;
  background-color: honeydew;
}

.formulario {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

label {
  font-size: 20px;
  color: rgb(14, 14, 139);
  font-weight: bold;
}

.entradas {
  height: 30px;
  border: 2px solid dodgerblue;
  border-radius: 4px;
}

input:focus {
  border: 3px solid dodgerblue;
  border-radius: 4px;
  background-color: #e5f8d3;
}

.boton {
  width: 110px;
  height: 35px;
  border-radius: 10%;
  background-color: #20b2aa;
  font-size: 20px;
  text-align: center;
  color: rgb(14, 14, 139);
  font-weight: bold;
  box-shadow: 5px 5px 3px grey;
}

.boton:hover {
  background-color: dodgerblue; /* Green */
  color: white;
  border-width: 3px;
  cursor: pointer;
}

.tabla1 {
  margin-top: 30px;
  width: 95%;
  text-align: left;
  border-bottom: gray 1px solid;
}

.tabla2 {
  width: 100%;
  text-align: left;
  overflow: none;
}

td {
  border-bottom: gray 1px solid;
}

tr:nth-child(even) {
  background-color: #eafed5;
}

.col1 {
  width: 5%;
}

.colNombre {
  width: 40%;
}

.colTelefono {
  width: 20%;
}

.colFecha {
  width: 20%;
}

.colBoton {
  width: 10%;
}

.cabeceraOculta {
  height: 0;
}

tr:hover {
  background-color: #d9f5bd;
}

.listadodeDatos {
  margin-top: 250px;
  width: 100%;
  min-height: 400px;
}

.pie {
  text-align: center;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 701px) {
  .logo {
    width: 25%;
    height: 100%;
    padding-left: 10px;
  }
  .titulo {
    width: 70%;
    padding-top: 5%;
  }

  .formulario {
    margin: 0%;
    display: inline-block;
    justify-content: space-evenly;
  }
  label {
    padding: 3px;
  }

  .entradas {
    padding: 3 px;
  }

  .boton {
    margin-top: 0px;
    width: 100%;
    height: 35px;
    border-radius: 5%;
  }

  .listadodeDatos {
    margin-top: 450px;
    width: 100%;
    min-height: 150px;
  }
}
